.parent-div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    justify-content: center;
    max-width: 100%;
  }
  
  .child-div {
    background-color: #eee;
    padding: 20px;
  }
  